{% for message in message_list %}
<li class="media">
    <div class="media-body">
        <div class="media">
            <a class="pull-left">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </a>
            <div class="media-body">
                {% if message.nick = request.user %}
                    {% if message.is_stuff %}
                         <font color="FF0000"><b>{{ message.print_message }}</b></font>
                    {% else %}
                        <font color="337AB7"><b>{{ message.print_message }}</b></font>
                    {% endif %}
                {% else %}
                    {% if message.is_staff %}
                         <font color="FF0000">{{ message.print_message }}</font>
                    {% else %}
                        {{ message.print_message }}
                    {% endif %}
                {% endif %}
                 {% if request.user.is_staff %}
                <a href="/del_message/?id={{ message.id }}">Usuń</a>
                {% endif %}
                <br/>
                <div class="text-muted">{{ message.print_info }}</div>
                <hr/>
            </div>
        </div>
    </div>
</li>
{% endfor %}

<b>{{ message.print_message }}</b>